@model IEnumerable<Producks.Web.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Related Products";
}

<h1>Related Products</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrandName)
        </th>
        <th>
            @Html.DisplayName("Store")
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @if (item.InStock)
                {
                    <p style="color: limegreen">In Stock</p>
                }
                else
                {
                    <p style="color: red">Out of Stock</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                @if (item.Undercutters)
                {
                    <p>Undercutters</p>
                }
                else
                {
                    <p>Producks</p>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

<a asp-action="Index">
    <input type="button" value="Return" class="btn btn-outline-primary"/>
</a>